


h1 {
  font-family: cursive;
  font-size: 25px;
  text-align: center;
  vertical-align: middle;
  background-color: teal;
  border: 2px solid black;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: table-cell;
}

#intro {
  font: helvetica;
  font-size: 16px;
  text-align: center;
  vertical-align: middle;
  background-color: #D45C13;
  border: 2px solid black;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  display: table-cell;
}

#firstPara {
  font: helvetica;
  font-size: 16px;
  text-align: center;
  vertical-align: middle;
  background-color: #BD13D4;
  border: 2px solid black;
  width: 450px;
  height: 50px;
  display: table-cell;
  margin-right: 100px;
}

#secPara {
  font: helvetica;
  font-size: 16px;
  text-align: center;
  vertical-align: middle;
  background-color: #BD13D4;
  border: 2px solid black;
  width: 500px;
  height: 50px;
  /*border-radius: 50%;*/
  display: table-cell;
  margin-left: 30px;
  margin-right: 30px;
}

#thirdPara{
  font: helvetica;
  font-size: 16px;
  text-align: center;
  vertical-align: middle;
  background-color: #BD13D4;
  border: 2px solid black;
  width: 500px;
  height: 50px;
  /*border-radius: 50%;*/
  display: table-cell;
  margin-left: 30px;
  margin-right: 30px;
}

body{
  background-color: yellow
}

.listsBackground{
  font: helvetica;
  font-size: 16px;
  text-align: center;
  vertical-align: middle;
  background-color: black;
  border: 2px solid black;
  width: 500px;
  height: 50px;
  /*border-radius: 50%;*/
  display: table-cell;
  margin-left: 30px;
  margin-right: 30px;
}

.orderedListClass{
  background-color: #2AD413;
  border: 2px solid black;
  margin-top: 100px;
}

#orderedListTitle {
  font: helvetica;
  font-size: 16px;
}

/*ol{
  background-color: #2AD413;
  border-radius: 50%;
  border: 2px solid black;
  text: center;
}*/

.unListClass{
  background-color: violet;
  border: 2px solid black;
  /*margin-top: 100px;*/
}
